.genrelinks {
  grid-column: span 6;

  @media (max-width: 700px) {
    grid-column: span 12;
  }

  .container {
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .genre {
      text-align: center;

      a {
        padding: 4px 7px;
        vertical-align: sub;
        border: solid 1px var(--primary-light);
        border-radius: 5px;
      }
    }
  }
}
