.edit {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;

  .map {
    grid-column: span 8;
    height: calc(100vh - 40px - var(--header-height));

    @media (width < 700px) {
      grid-column: span 12;
    }
  }
}
