.card {
  height: fit-content;
  padding: 20px;
  background-color: var(--background);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  display: block;
  color: initial;
  position: relative;

  .arrow {
    font-size: 2rem;
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;

    transition: var(--transition-time);
    rotate: 0deg;

    &.canclose {
      display: block;
    }

    &.closed {
      rotate: 180deg;
    }
  }

  .head {
    display: flex;
    gap: 10px;

    .category {
      padding: 3px 5px;
      border: solid 1px var(--primary);
      border-radius: 5px;
    }
  }

  .info {
    overflow-y: hidden;

    transition: var(--transition-time);
    height: 82px;
    padding: 10px 0 0 10px;

    &.closed {
      height: 0px;
      padding: 0 0 0 10px;
    }
  }
}
