.preflinks {
  padding: 20px;
  grid-column: 1 / -1;

  .container {
    padding-left: 20px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 15px;

    .region {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: 1 / -1;

      h3 {
        padding: 3px 7px;
        font-size: 1.1rem;
        background-color: var(--primary-light);
        text-align: center;
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        li {
          list-style: none;
          border: solid 1px var(--primary-light);
          border-radius: 5px;

          a {
            padding: 4px 7px;
            vertical-align: sub;
          }
        }
      }
    }
  }
}
